

.box1 {
    float:right;
    background: #DDF;
    height: 200px;
    width:250px;
    margin: 20px;
  }
  .box2 {
    float:left;
    background: #4FFFA1;
    height: 200px;
    width:250px;
    margin: 20px;
  }
  .box3 {
    clear:right;
    background: #FFAACC;
    height: 200px;
    width:250px;
    margin: 20px;
  }