#parent-rtv {
    display: flex;
    height: 250px;
    width: 590px;
    flex-direction: row;
    position: relative;
    border-style: dashed;
  
}

#child1-rtv{
  position: relative;
  width: 180px;
  height: 100px;
  background-color: rgb(14, 128, 116);
  top: 10px;
  left: 10px;
}
#child2-rtv{
  position: relative;
  width: 180px;
  height: 100px;
  background-color: rgb(14, 128, 116);
} 
#child3-rtv {
  position: relative;
  width: 180px;
  height: 100px;
  background-color: rgb(14, 128, 116);
  top: 10px;
  left: 40px;

}

#child2-rtv {
  position: relative;
  left: 85px;
  top: 55px;
}