/* ABSOLUTE */
#parent-abs {
    display: flex;
    height: 300px;
    width: 510px;
    flex-direction: row;
    position: relative;
    border-style: dashed;
}

#child1-abs, 
#child2-abs, 
#child3-abs {
    width: 150px;
    height: 125px;
    background-color: rgb(44, 131, 155);
}

#child3-abs{
    top: 10px;
    position: relative;
    left: 20px;
}

#child1-abs{
    top: 10px;
    position: relative;
    left: 10px;
}

#child2-abs {
    position: absolute;
    left: 85px;
    top: 60px;
}